In [128]:
import pandas as pd

# File path of the Excel file
file_path = r"D:\UOP\4th year\Research\cleaning\Dataset ele death\2015 Ele Deaths.xlsx"

# Read the Excel file into a pandas DataFrame
df = pd.read_excel(file_path,skiprows=1,sheet_name=3)

In [129]:
df

,No.,Region,District,D.S. Divition,Death Of Date,Death Of Place,Death Of Course,Sex,Age
0,1,Central,Badulla,Mahiyanganaya,2015-01-12,Welimadayaya,Unknown,Male,25
1,2,Uwa,Hambanthota,Thissamaharama,2015-01-24,Yala n. p. Gode kalapuwa,Unknown,Male,30-35
2,3,Uwa,Monaragala,Buththala,2015-01-04,Ruhunu N. p. Iriyapola,Follen Into well,Unknown,-
3,4,Polonnaruwa,Mathale,Laggala,2015-01-01,"Vilgamuwa, posthawala, laggala",Accident,Male,Month 03
4,5,Polonnaruwa,Polonnaruwa,"Dimbulagala, Aralaganvila",2015-01-24,"Nuwaragala, Pallegama Pimburaththawa",Gunshot,Male,40-45
...,...,...,...,...,...,...,...,...,...
200,201,Eastern,Ampara,Thirukkovil,2015-12-01,Kanchikudiaar,Hakkapatas,Female,5-7
201,202,Eastern,Batticaloa,Kiran,2015-12-29,Punani 118,Train Accident,Male,03
202,203,Southern,Monaragala,Thanamalvila,2015-12-10,"Balaharuwa, Kudaoya",Gunshot,Male,35-40
203,204,Southern,Monaragala,Sewanagala,2015-12-04,"Udawalawa N.P. , Bagamuyaya",Not Reported,Male,15-20
204,205,Southern,Monaragala,Sewanagala,2015-12-29,"Udawalawa N.P. , Hulannuge",Not Reported,Male,30-35

In [130]:
df.columns

Index(['No.', 'Region', 'District', 'D.S. Divition', 'Death Of Date',
       'Death Of Place', 'Death Of Course', 'Sex', 'Age '],
      dtype='object')

In [131]:
def replace_column_names(column_name):
    translations = {
        'No.': 'No',
        'D.S. Divition': 'D/S Office',
        'Death Of Date': 'Date of Death',
        'Death Of Course': 'Cause of Death',
        'Death Of Place': 'Place of Death',
        'Age ':'Age'
    }
    return translations.get(column_name, column_name)

In [132]:
df.rename(columns=replace_column_names, inplace=True)

In [133]:
df

,No,Region,District,D/S Office,Date of Death,Place of Death,Cause of Death,Sex,Age
0,1,Central,Badulla,Mahiyanganaya,2015-01-12,Welimadayaya,Unknown,Male,25
1,2,Uwa,Hambanthota,Thissamaharama,2015-01-24,Yala n. p. Gode kalapuwa,Unknown,Male,30-35
2,3,Uwa,Monaragala,Buththala,2015-01-04,Ruhunu N. p. Iriyapola,Follen Into well,Unknown,-
3,4,Polonnaruwa,Mathale,Laggala,2015-01-01,"Vilgamuwa, posthawala, laggala",Accident,Male,Month 03
4,5,Polonnaruwa,Polonnaruwa,"Dimbulagala, Aralaganvila",2015-01-24,"Nuwaragala, Pallegama Pimburaththawa",Gunshot,Male,40-45
...,...,...,...,...,...,...,...,...,...
200,201,Eastern,Ampara,Thirukkovil,2015-12-01,Kanchikudiaar,Hakkapatas,Female,5-7
201,202,Eastern,Batticaloa,Kiran,2015-12-29,Punani 118,Train Accident,Male,03
202,203,Southern,Monaragala,Thanamalvila,2015-12-10,"Balaharuwa, Kudaoya",Gunshot,Male,35-40
203,204,Southern,Monaragala,Sewanagala,2015-12-04,"Udawalawa N.P. , Bagamuyaya",Not Reported,Male,15-20
204,205,Southern,Monaragala,Sewanagala,2015-12-29,"Udawalawa N.P. , Hulannuge",Not Reported,Male,30-35

In [134]:
df = df.drop(columns=['Place of Death'])

In [135]:
df

,No,Region,District,D/S Office,Date of Death,Cause of Death,Sex,Age
0,1,Central,Badulla,Mahiyanganaya,2015-01-12,Unknown,Male,25
1,2,Uwa,Hambanthota,Thissamaharama,2015-01-24,Unknown,Male,30-35
2,3,Uwa,Monaragala,Buththala,2015-01-04,Follen Into well,Unknown,-
3,4,Polonnaruwa,Mathale,Laggala,2015-01-01,Accident,Male,Month 03
4,5,Polonnaruwa,Polonnaruwa,"Dimbulagala, Aralaganvila",2015-01-24,Gunshot,Male,40-45
...,...,...,...,...,...,...,...,...
200,201,Eastern,Ampara,Thirukkovil,2015-12-01,Hakkapatas,Female,5-7
201,202,Eastern,Batticaloa,Kiran,2015-12-29,Train Accident,Male,03
202,203,Southern,Monaragala,Thanamalvila,2015-12-10,Gunshot,Male,35-40
203,204,Southern,Monaragala,Sewanagala,2015-12-04,Not Reported,Male,15-20
204,205,Southern,Monaragala,Sewanagala,2015-12-29,Not Reported,Male,30-35

In [136]:
df['Region'].unique()

array(['Central', 'Uwa', 'Polonnaruwa', 'North Western', 'Eastern',
       'Trincomalee', 'Anuradhapura', 'Southern', 'Wawniya',
       'Kilinochchi', 'ETH'], dtype=object)

In [137]:
df['Region'] = df['Region'].replace({
        'Wawniya': 'Vavuniya',
        'Uwa':'Uva'
})

In [138]:
df[df['Region']=='ETH']

      No Region    District D/S Office Date of Death Cause of Death   Sex  Age
77    78    ETH         NaN        NaN      2015-05-        Natural  Male  NaN
92    93    ETH         NaN        ETH       2015-06            NaN   NaN  NaN
122  123    ETH         ETH        NaN           NaN            NaN   NaN  NaN
173  174    ETH  Rathnapura        NaN           NaN            NaN   NaN  NaN
174  175    ETH  Rathnapura        NaN           NaN            NaN   NaN  NaN

In [139]:
df = df[~(df['Region'] == 'ETH')]

In [140]:
df['District'].unique()

array(['Badulla', 'Hambanthota', 'Monaragala', 'Mathale', 'Polonnaruwa',
       'Kurunegala', 'Ampara', 'Batticaloa', 'Trincomalee', 'Kandy',
       'Anuradhapura', 'Wawniya', 'Puththalama', 'Mulathive', 'Mannar',
       'No Details', nan], dtype=object)

In [141]:
df[df['District']=='No Details']

,No,Region,District,D/S Office,Date of Death,Cause of Death,Sex,Age
100,101,Trincomalee,No Details,NaN,NaN,NaN,NaN,NaN
110,111,Trincomalee,No Details,NaN,2015-07,NaN,NaN,NaN
196,197,Trincomalee,No Details,NaN,NaN,NaN,NaN,NaN

In [142]:
df['District'] = df['District'].replace({
        'Mathale': 'Matale',
        'Wawniya':'Vavuniya',
        'Mulathive':'Mullaitivu',
        'Puththalama':'Puttalam',
        'Hambanthota':'Hambantota',
        'No Details':'Trincomalee'
})

C:\Users\ravindu\AppData\Local\Temp\ipykernel_9136\3660109115.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['District'] = df['District'].replace({

In [143]:
df['District'].unique()

array(['Badulla', 'Hambantota', 'Monaragala', 'Matale', 'Polonnaruwa',
       'Kurunegala', 'Ampara', 'Batticaloa', 'Trincomalee', 'Kandy',
       'Anuradhapura', 'Vavuniya', 'Puttalam', 'Mullaitivu', 'Mannar',
       nan], dtype=object)

In [144]:
df[df['District'].isnull()]

,No,Region,District,D/S Office,Date of Death,Cause of Death,Sex,Age
111,112,Trincomalee,NaN,NaN,2015-07,NaN,NaN,NaN
113,114,Trincomalee,NaN,NaN,2015.08,NaN,NaN,NaN
114,115,Trincomalee,NaN,NaN,2015.08,NaN,NaN,NaN
150,151,Trincomalee,NaN,No details,2015-09,NaN,NaN,NaN
189,190,Trincomalee,NaN,NaN,NaN,NaN,NaN,NaN
190,191,Trincomalee,NaN,NaN,NaN,NaN,NaN,NaN

In [145]:
df['District'] = df['District'].fillna('Trincomalee')

C:\Users\ravindu\AppData\Local\Temp\ipykernel_9136\2427254030.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['District'] = df['District'].fillna('Trincomalee')

In [146]:
df['D/S Office'].unique()

array(['Mahiyanganaya', 'Thissamaharama', 'Buththala', 'Laggala',
       'Dimbulagala, Aralaganvila', 'Welikanda', 'Polpithigama', 'Mahawa',
       'Ahetuwewa', 'Mahaoya', 'Pattipola', 'Thirukkovil', 'Chenkaladi',
       'Akkarepaththuwa', 'Kandamalawa', 'Minipe, Hasalaka',
       'Mahavilachchiya', 'Trincomalee', 'Morawewa', 'Gomarankadawala',
       'Serunuwara', 'Uhana, damana', 'Dehiaththakandiya',
       'Addalachchena', 'Thanamalvila', 'Dambulla', 'Palugaswewa',
       'Kebithigollewa', 'Nedunkarny', 'Settikulam', 'Kanagarayankulam',
       'Thamankaduwa', 'Lankapura', 'Siyabalanduwa', 'Damana',
       'Thirappane', 'Kekirawa', 'Thalawa', 'Kuchchaweli ', 'Wawnathiu',
       'Wakare', 'Hingurakgoda', 'Padaviya', 'Giribawa', 'Wanathavilluwa',
       'Oddusudan', 'Welioya', 'Suriyawewa', 'Horowpothana', 'Lahugala',
       'Naula', 'Madirigiriya', 'Nanattan', nan, 'Katharagama',
       'Baththala', 'Sewanagala', 'Elahara', 'Alayadiwembu', 'Uhana',
       'Wellawali', 'Kahatagasdigiliya', 'Pothuvil', 'Galgamuwa',
       'No details', 'Kanthale', 'Dimbulagala', 'Hambanthota', 'Madulla',
       'damana', 'Mathale', 'Karuwalagaswewa', 'M.Nu.P', 'Ipalogama',
       'Wellawaya', 'Bibila', 'Silawathura', 'Mihinthale', 'Kiran'],
      dtype=object)

In [147]:
df[df['D/S Office'].isnull()]

,No,Region,District,D/S Office,Date of Death,Cause of Death,Sex,Age
100,101,Trincomalee,Trincomalee,NaN,NaN,NaN,NaN,NaN
110,111,Trincomalee,Trincomalee,NaN,2015-07,NaN,NaN,NaN
111,112,Trincomalee,Trincomalee,NaN,2015-07,NaN,NaN,NaN
113,114,Trincomalee,Trincomalee,NaN,2015.08,NaN,NaN,NaN
114,115,Trincomalee,Trincomalee,NaN,2015.08,NaN,NaN,NaN
189,190,Trincomalee,Trincomalee,NaN,NaN,NaN,NaN,NaN
190,191,Trincomalee,Trincomalee,NaN,NaN,NaN,NaN,NaN
196,197,Trincomalee,Trincomalee,NaN,NaN,NaN,NaN,NaN

In [148]:
df['D/S Office']=df['D/S Office'].fillna('Unknown')

C:\Users\ravindu\AppData\Local\Temp\ipykernel_9136\4001517780.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['D/S Office']=df['D/S Office'].fillna('Unknown')

In [149]:
df['D/S Office'] = df['D/S Office'].replace({
        'No details': 'Unknown'
})

C:\Users\ravindu\AppData\Local\Temp\ipykernel_9136\2176058082.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['D/S Office'] = df['D/S Office'].replace({

In [150]:
df['Date of Death'].unique()

array(['2015-01-12', '2015-01-24', '2015-01-04', '2015-01-01',
       '2015-01-26', '2015-01-29', '2015-01-02', '2015-01-05',
       '2015-01-11', '2015-01-06', '2015-01-07', '2015-01-18',
       '2015-01-30', '2015-01-25', '2015-02-08', '2015-02-21',
       '2015-02-11', '2015-02-18', '2015-02-20', '2015-02-19',
       '2015-02-27', '2015-02-06', '2015-02-07', '2015-02-09',
       '2015-02-12', '2015-02-17', '2015-02-14', '2015-03-26',
       '2015-03-04', '2015-03-05', '2015-03-29', '2015-03-09',
       '2015-03-06', '2015-03-07', '2015-03-18', '2015-03-20',
       '2015-03-24', '2015-03-01', '2015-03-11', '2015-03-12',
       '2015-03-13', '2015-04-13', '2015-04-19', '2015-04-28',
       '2015-04-25', '2015-04-15', '2015-04-17', '2015-04-21',
       '2015-04-01', '2015-04-10', '2015-04-12', '2015-04-09',
       '2015-04-20', '2015-04-27', '2015-05-26', '2015-05-07',
       '2015-05-15', '2015-05-06', '2015-05-13', '2015-05-20',
       '2015-05-02', '2015-05-12', '2015-05-27', '2015.06.03',
       '2015-06-13', '2015.06.17', '2015-06-02', '2015-06-17',
       '2015-06-25', '2015-06-15', '2015-06-08', '2015-06-21',
       '2015-06-26', '2015-06-05', '2015-06-07', nan, '2015.06.25',
       '2015-06-23', '2015-07-03', '2015-07-18', '2015-07-10',
       '2015-07-28', '2015-07-02', '2015-07-30', '2015-07-23', '2015-07',
       '2015-07-31', '2015.08', '2015-08-20', '2015-08-29', '2015-08-14',
       '2015-08-05', '2015-08-11', '2015-08-22', '2015-08-23',
       '2015-08-03', '2015-08-13', '2015-08-21', '2015-08-28',
       '2015-08-09', '2015-08-01', '2015-08-10', '2015-08-17',
       '2015-08-18', '2015-09-10', '2015-09-19', '2015-09-18',
       '2015-09-08', '2015-09-16', '2015-09-21', '2015-09-23',
       '2015-09-28', '2015-09-06', '2015-09-09', '2015-09-14',
       '2015-09-25', '2015-09-17', '2015-09', '2015-10-08', '2015-10-09',
       '2015-10-10', '2015-10-13', '2015-10-16', '2015-10-19',
       '2015-10-24', '2015-10-25', '2015-10-26', '2015-10-29',
       '2015-10-06', '2015-10-01', '2015-10-20', '2015-10-28',
       '2015-10-03', '2015-10-22', '2015-11-01', '2015-11-05',
       '2015-11-21', '2015-11-16', '2015-11-12', '2015-11-15',
       '2015-11-26', '2015-11-27', '2015-11-30', '2015-11-13',
       '2015-11-20', '2015-11-07', '2015-11-19', '2015-11-17',
       '2015-11-11', '2015-11-28', '2015-12-09', '2015-12-10',
       '2015-12-15', '2015-12-22', 'Before 3 Month', '2015-12-01',
       '2015-12-29', '2015-12-04'], dtype=object)

In [151]:
df.loc[df['Date of Death'] == '2015.08', 'Date of Death'] = '2015-08-31'
df.loc[df['Date of Death'] == '2015-07', 'Date of Death'] = '2015-07-31'
df.loc[df['Date of Death'] == '2015-09', 'Date of Death'] = '2015-09-30'
df.loc[df['Date of Death'] == 'Before 3 Month', 'Date of Death'] = '2015-12-31'

In [152]:
df[df['Date of Death'].isnull()]

,No,Region,District,D/S Office,Date of Death,Cause of Death,Sex,Age
100,101,Trincomalee,Trincomalee,Unknown,NaN,NaN,NaN,NaN
189,190,Trincomalee,Trincomalee,Unknown,NaN,NaN,NaN,NaN
190,191,Trincomalee,Trincomalee,Unknown,NaN,NaN,NaN,NaN
196,197,Trincomalee,Trincomalee,Unknown,NaN,NaN,NaN,NaN

In [153]:
df.loc[df['Date of Death'].isna(), 'Date of Death'] = '2015-12-31'

In [154]:
df['Date of Death'].unique()

array(['2015-01-12', '2015-01-24', '2015-01-04', '2015-01-01',
       '2015-01-26', '2015-01-29', '2015-01-02', '2015-01-05',
       '2015-01-11', '2015-01-06', '2015-01-07', '2015-01-18',
       '2015-01-30', '2015-01-25', '2015-02-08', '2015-02-21',
       '2015-02-11', '2015-02-18', '2015-02-20', '2015-02-19',
       '2015-02-27', '2015-02-06', '2015-02-07', '2015-02-09',
       '2015-02-12', '2015-02-17', '2015-02-14', '2015-03-26',
       '2015-03-04', '2015-03-05', '2015-03-29', '2015-03-09',
       '2015-03-06', '2015-03-07', '2015-03-18', '2015-03-20',
       '2015-03-24', '2015-03-01', '2015-03-11', '2015-03-12',
       '2015-03-13', '2015-04-13', '2015-04-19', '2015-04-28',
       '2015-04-25', '2015-04-15', '2015-04-17', '2015-04-21',
       '2015-04-01', '2015-04-10', '2015-04-12', '2015-04-09',
       '2015-04-20', '2015-04-27', '2015-05-26', '2015-05-07',
       '2015-05-15', '2015-05-06', '2015-05-13', '2015-05-20',
       '2015-05-02', '2015-05-12', '2015-05-27', '2015.06.03',
       '2015-06-13', '2015.06.17', '2015-06-02', '2015-06-17',
       '2015-06-25', '2015-06-15', '2015-06-08', '2015-06-21',
       '2015-06-26', '2015-06-05', '2015-06-07', '2015-12-31',
       '2015.06.25', '2015-06-23', '2015-07-03', '2015-07-18',
       '2015-07-10', '2015-07-28', '2015-07-02', '2015-07-30',
       '2015-07-23', '2015-07-31', '2015-08-31', '2015-08-20',
       '2015-08-29', '2015-08-14', '2015-08-05', '2015-08-11',
       '2015-08-22', '2015-08-23', '2015-08-03', '2015-08-13',
       '2015-08-21', '2015-08-28', '2015-08-09', '2015-08-01',
       '2015-08-10', '2015-08-17', '2015-08-18', '2015-09-10',
       '2015-09-19', '2015-09-18', '2015-09-08', '2015-09-16',
       '2015-09-21', '2015-09-23', '2015-09-28', '2015-09-06',
       '2015-09-09', '2015-09-14', '2015-09-25', '2015-09-17',
       '2015-09-30', '2015-10-08', '2015-10-09', '2015-10-10',
       '2015-10-13', '2015-10-16', '2015-10-19', '2015-10-24',
       '2015-10-25', '2015-10-26', '2015-10-29', '2015-10-06',
       '2015-10-01', '2015-10-20', '2015-10-28', '2015-10-03',
       '2015-10-22', '2015-11-01', '2015-11-05', '2015-11-21',
       '2015-11-16', '2015-11-12', '2015-11-15', '2015-11-26',
       '2015-11-27', '2015-11-30', '2015-11-13', '2015-11-20',
       '2015-11-07', '2015-11-19', '2015-11-17', '2015-11-11',
       '2015-11-28', '2015-12-09', '2015-12-10', '2015-12-15',
       '2015-12-22', '2015-12-01', '2015-12-29', '2015-12-04'],
      dtype=object)

In [155]:
# Assuming 'Date of Death' is the column name
df['Date of Death'] = df['Date of Death'].str.replace('.', '-')

# Convert the date column to pandas datetime format
df['Date of Death'] = pd.to_datetime(df['Date of Death'], format='%Y-%m-%d')

C:\Users\ravindu\AppData\Local\Temp\ipykernel_9136\1046933699.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date of Death'] = df['Date of Death'].str.replace('.', '-')
C:\Users\ravindu\AppData\Local\Temp\ipykernel_9136\1046933699.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date of Death'] = pd.to_datetime(df['Date of Death'], format='%Y-%m-%d')

In [156]:
df = df.sort_values(by='Date of Death').reset_index(drop=True)

In [157]:
df

,No,Region,District,D/S Office,Date of Death,Cause of Death,Sex,Age
0,4,Polonnaruwa,Matale,Laggala,2015-01-01,Accident,Male,Month 03
1,9,North Western,Kurunegala,Polpithigama,2015-01-02,Natural,Male,1
2,3,Uva,Monaragala,Buththala,2015-01-04,Follen Into well,Unknown,-
3,10,North Western,Kurunegala,Mahawa,2015-01-05,Gunshot,Male,15-20
4,12,Eastern,Ampara,Mahaoya,2015-01-06,Gunshot,Male,40-50
...,...,...,...,...,...,...,...,...
195,197,Trincomalee,Trincomalee,Unknown,2015-12-31,NaN,NaN,NaN
196,191,Trincomalee,Trincomalee,Unknown,2015-12-31,NaN,NaN,NaN
197,190,Trincomalee,Trincomalee,Unknown,2015-12-31,NaN,NaN,NaN
198,199,Anuradhapura,Anuradhapura,Horowpothana,2015-12-31,No Details,No,No
199,101,Trincomalee,Trincomalee,Unknown,2015-12-31,NaN,NaN,NaN

In [158]:
df['No'] = df.index + 1

In [159]:
df

,No,Region,District,D/S Office,Date of Death,Cause of Death,Sex,Age
0,1,Polonnaruwa,Matale,Laggala,2015-01-01,Accident,Male,Month 03
1,2,North Western,Kurunegala,Polpithigama,2015-01-02,Natural,Male,1
2,3,Uva,Monaragala,Buththala,2015-01-04,Follen Into well,Unknown,-
3,4,North Western,Kurunegala,Mahawa,2015-01-05,Gunshot,Male,15-20
4,5,Eastern,Ampara,Mahaoya,2015-01-06,Gunshot,Male,40-50
...,...,...,...,...,...,...,...,...
195,196,Trincomalee,Trincomalee,Unknown,2015-12-31,NaN,NaN,NaN
196,197,Trincomalee,Trincomalee,Unknown,2015-12-31,NaN,NaN,NaN
197,198,Trincomalee,Trincomalee,Unknown,2015-12-31,NaN,NaN,NaN
198,199,Anuradhapura,Anuradhapura,Horowpothana,2015-12-31,No Details,No,No
199,200,Trincomalee,Trincomalee,Unknown,2015-12-31,NaN,NaN,NaN

In [160]:
df['Cause of Death'].unique()

array(['Accident', 'Natural', 'Follen Into well', 'Gunshot',
       'Electrocted', 'Hakkapatas', 'Unknown', '-', 'Unknoun', 'Poisand',
       'Injerd', 'No Details', 'Train Accident', 'Gunshot/ Hakkapatas',
       'Injured', nan, 'Setisimiya', 'Attack by an Eephant',
       'Not Reported'], dtype=object)

In [161]:
def replace_sinhala_with_english(text):
    translations = {
    'Follen Into well': 'Fallen into well',
    'Poisand':'Poisned',
    '-': 'Unknown',
    'Injerd':'Injured',
    'Injured':'Injured',
    'Gunshot/ Hakkapatas':'Gunshot',
    'Setisimiya':'Septicemia',
    'Attack by an Eephant':'Attack by an elephant',
    'Not Reported':'Unknown',
    'Unknoun':'Unknown',
    'Electrocted':'Electrocuted',
    'No Details':'Unknown'
    }
    return translations.get(text, text)

In [162]:
df["Cause of Death"] = df["Cause of Death"].apply(replace_sinhala_with_english)

In [163]:
df['Cause of Death'] = df['Cause of Death'].fillna('Unknown')

In [164]:
df['Cause of Death'].unique()

array(['Accident', 'Natural', 'Fallen into well', 'Gunshot',
       'Electrocuted', 'Hakkapatas', 'Unknown', 'Poisned', 'Injured',
       'Train Accident', 'Septicemia', 'Attack by an elephant'],
      dtype=object)

In [165]:
df

,No,Region,District,D/S Office,Date of Death,Cause of Death,Sex,Age
0,1,Polonnaruwa,Matale,Laggala,2015-01-01,Accident,Male,Month 03
1,2,North Western,Kurunegala,Polpithigama,2015-01-02,Natural,Male,1
2,3,Uva,Monaragala,Buththala,2015-01-04,Fallen into well,Unknown,-
3,4,North Western,Kurunegala,Mahawa,2015-01-05,Gunshot,Male,15-20
4,5,Eastern,Ampara,Mahaoya,2015-01-06,Gunshot,Male,40-50
...,...,...,...,...,...,...,...,...
195,196,Trincomalee,Trincomalee,Unknown,2015-12-31,Unknown,NaN,NaN
196,197,Trincomalee,Trincomalee,Unknown,2015-12-31,Unknown,NaN,NaN
197,198,Trincomalee,Trincomalee,Unknown,2015-12-31,Unknown,NaN,NaN
198,199,Anuradhapura,Anuradhapura,Horowpothana,2015-12-31,Unknown,No,No
199,200,Trincomalee,Trincomalee,Unknown,2015-12-31,Unknown,NaN,NaN

In [166]:
df['Sex'].unique()

array(['Male', 'Unknown', 'Female', '-', 'No', nan, 'Distroyed Body',
       'Tusker'], dtype=object)

In [167]:
df['Sex'] = df['Sex'].replace({
    '-':'Unknown',
    'No':'Unknown',
    'Distroyed Body':'Unknown',
    'Tusker':'Male'
})

In [168]:
df['Sex'] = df['Sex'].fillna('Unknown')

In [169]:
df['Sex'].unique()

array(['Male', 'Unknown', 'Female'], dtype=object)

In [170]:
df['Age'].unique()

array(['Month 03', 1, '-', '15-20', '40-50', '20-25', '10-15', '12-15',
       30, 25, '18-25', '30', '40-45', '30-35', '6-7', '25-30', '50-60',
       '20-30', '5, 1/2', '08', '35-40', '10-11', '6-5', '5-8', '8-10',
       '35', 15, '15-16', '4', '1-2', '6', '7-8', '25', '22', '18-20',
       '10-12', '04', '25-26', '5-10', '15', '20', '06', '22-25',
       '1,1/2-2', '13', '10', '45', '11/2-2', nan, 20, '8-12', '38',
       'මාස 01', '8', '5-7', '15-18', '5', '4-5', '40-42', '5-6', '40',
       ' 40', '02', ' 15', ' 20', '01', ' 5', '52-56', '25-35', ' 6',
       ' 45', ' 1,1/2', ' 5-7', ' 40-45', '03', 'No'], dtype=object)

In [171]:
from numpy import nan
df['Age'] = df['Age'].replace({
   '5, 1/2':'5.5',
   '-':'Unknown',
   '08':'8',
   '04':'4',
   '06':'6',
   '1,1/2-2':'1-1.5',
   '11/2-2':'11.5',
   'මාස 01':'1 Month',
   'Month 03':'3 Months',
   '02':'2',
   '01':'1',
   ' 5':'5',
   ' 6':'6',
   ' 40':'40',
   ' 45':'45',
   ' 15':'15',
   ' 20':'20',
   ' 1,1/2':'1-1.5',
   ' 5-7':'5-7',
   ' 40-45':'40-45',
   '03':'3',
   'No':'Unknown'

})

In [172]:
df['Age'] = df['Age'].fillna('Unknown')

In [173]:
df['Age'].unique()

array(['3 Months', 1, 'Unknown', '15-20', '40-50', '20-25', '10-15',
       '12-15', 30, 25, '18-25', '30', '40-45', '30-35', '6-7', '25-30',
       '50-60', '20-30', '5.5', '8', '35-40', '10-11', '6-5', '5-8',
       '8-10', '35', 15, '15-16', '4', '1-2', '6', '7-8', '25', '22',
       '18-20', '10-12', '25-26', '5-10', '15', '20', '22-25', '1-1.5',
       '13', '10', '45', '11.5', 20, '8-12', '38', '1 Month', '5-7',
       '15-18', '5', '4-5', '40-42', '5-6', '40', '2', '1', '52-56',
       '25-35', '3'], dtype=object)

In [174]:
import re
# Function to convert months and weeks to years
def convert_to_years(age_str):
    if isinstance(age_str, str):
        if re.match(r'^\d+(\.\d+)? Months?$', age_str):
            months = float(re.match(r'^\d+(\.\d+)?', age_str).group())
            return months / 12  # Approximate conversion to years
        elif re.match(r'^\d+ Weeks?$', age_str):
            weeks = int(re.match(r'^\d+', age_str).group())
            return weeks / 52  # Approximate conversion to years
        elif re.match(r'^\d+ Days?$', age_str):
            days = int(re.match(r'^\d+', age_str).group())
            return days / 365  # Approximate conversion to years
        elif '-' in age_str:
            age_range = age_str.split('-')
            try:
                return (float(age_range[0]) + float(age_range[1])) / 2  # Taking the average for range
            except ValueError:
                return None  # Invalid range
    try:
        return float(age_str)
    except ValueError:
        return None  # Unknown or invalid value

# Apply the conversion function to the 'Age' column
df['age'] = df['Age'].apply(convert_to_years)

# Function to categorize age
def categorize_age(age):
    if age is None or isinstance(age, str):
        return 'Unknown'
    elif age < 1:
        return 'Infant'
    elif age <= 4:
        return 'Calf'
    elif age <= 12:
        return 'Juvenile'
    elif age >=13:
        return 'Subadults and adults'
    else:
        return 'Unknown'

# Apply the function to the 'Age' column
df['Age Category'] = df['age'].apply(categorize_age)

# Drop the original 'Age' column if you don't need it anymore
df.drop(columns=['age'], inplace=True)

In [175]:
df.tail(50)

,No,Region,District,D/S Office,Date of Death,Cause of Death,Sex,Age,Age Category
150,151,Polonnaruwa,Polonnaruwa,Dimbulagala,2015-10-06,Hakkapatas,Male,6-7,Juvenile
151,152,Trincomalee,Trincomalee,Kanthale,2015-10-08,Injured,Male,40,Subadults and adults
152,153,Trincomalee,Trincomalee,Serunuwara,2015-10-09,Poisned,Female,Unknown,Unknown
153,154,Trincomalee,Trincomalee,Serunuwara,2015-10-10,Electrocuted,Male,35,Subadults and adults
154,155,Southern,Hambantota,Hambanthota,2015-10-13,Natural,Female,20,Subadults and adults
155,156,Central,Badulla,Mahiyanganaya,2015-10-13,Natural,Female,1,Calf
156,157,North Western,Kurunegala,Galgamuwa,2015-10-16,Train Accident,Female,15-20,Subadults and adults
157,158,Eastern,Ampara,"Uhana, damana",2015-10-19,Gunshot,Male,Unknown,Unknown
158,159,Anuradhapura,Anuradhapura,Horowpothana,2015-10-20,Hakkapatas,Male,5,Juvenile
159,160,Uva,Ampara,damana,2015-10-22,Gunshot,Male,30-35,Subadults and adults
160,161,Eastern,Ampara,Lahugala,2015-10-24,Unknown,Male,25-30,Subadults and adults
161,162,Polonnaruwa,Polonnaruwa,Dambulla,2015-10-24,Hakkapatas,Male,7-8,Juvenile
162,163,Eastern,Ampara,Thirukkovil,2015-10-25,Hakkapatas,Male,6-7,Juvenile
163,164,Eastern,Ampara,Lahugala,2015-10-26,Gunshot,Female,25-30,Subadults and adults
164,165,Anuradhapura,Anuradhapura,Thirappane,2015-10-28,Gunshot,Male,52-56,Subadults and adults
165,166,Eastern,Ampara,Mahaoya,2015-10-29,Accident,Female,25-35,Subadults and adults
166,167,Polonnaruwa,Polonnaruwa,Thamankaduwa,2015-11-01,Electrocuted,Male,20-25,Subadults and adults
167,168,Polonnaruwa,Polonnaruwa,"Dimbulagala, Aralaganvila",2015-11-05,Natural,Male,15,Subadults and adults
168,169,Uva,Monaragala,Wellawaya,2015-11-07,Natural,Female,6,Juvenile
169,170,Southern,Monaragala,Thanamalvila,2015-11-11,Gunshot,Male,45,Subadults and adults
170,171,Kilinochchi,Mullaitivu,Oddusudan,2015-11-12,Hakkapatas,Male,25,Subadults and adults
171,172,Anuradhapura,Anuradhapura,Thirappane,2015-11-13,Electrocuted,Male,35,Subadults and adults
172,173,Eastern,Ampara,Lahugala,2015-11-15,Hakkapatas,Female,20-25,Subadults and adults
173,174,North Western,Puttalam,Karuwalagaswewa,2015-11-16,Electrocuted,Male,Unknown,Unknown
174,175,North Western,Puttalam,Karuwalagaswewa,2015-11-16,Electrocuted,Male,Unknown,Unknown
175,176,Anuradhapura,Anuradhapura,M.Nu.P,2015-11-16,Natural,Female,20,Subadults and adults
176,177,Vavuniya,Mannar,Silawathura,2015-11-17,Hakkapatas,Male,5,Juvenile
177,178,Uva,Monaragala,Bibila,2015-11-19,Natural,Male,1-1.5,Calf
178,179,Anuradhapura,Anuradhapura,Ipalogama,2015-11-20,Gunshot,Female,35-40,Subadults and adults
179,180,Polonnaruwa,Matale,Mathale,2015-11-21,Hakkapatas,Male,25-30,Subadults and adults
180,181,Eastern,Ampara,Mahaoya,2015-11-26,Hakkapatas,Male,25-30,Subadults and adults
181,182,Eastern,Ampara,Lahugala,2015-11-27,Unknown,Male,18-20,Subadults and adults
182,183,Southern,Monaragala,Sewanagala,2015-11-28,Unknown,Male,15-20,Subadults and adults
183,184,Eastern,Batticaloa,Wellawali,2015-11-30,Electrocuted,Male,30-35,Subadults and adults
184,185,Eastern,Ampara,Addalachchena,2015-11-30,Unknown,Male,20-30,Subadults and adults
185,186,Eastern,Ampara,Thirukkovil,2015-12-01,Hakkapatas,Female,5-7,Juvenile
186,187,Southern,Monaragala,Sewanagala,2015-12-04,Unknown,Male,15-20,Subadults and adults
187,188,Polonnaruwa,Polonnaruwa,Hingurakgoda,2015-12-09,Gunshot,Female,6,Juvenile
188,189,Southern,Monaragala,Thanamalvila,2015-12-10,Gunshot,Male,35-40,Subadults and adults
189,190,Polonnaruwa,Polonnaruwa,Hingurakgoda,2015-12-10,Natural,Male,40-45,Subadults and adults
190,191,Polonnaruwa,Matale,Dambulla,2015-12-15,Hakkapatas,Male,20-25,Subadults and adults
191,192,Anuradhapura,Anuradhapura,Mihinthale,2015-12-22,Gunshot,Male,8,Juvenile
192,193,Anuradhapura,Anuradhapura,Thirappane,2015-12-22,Electrocuted,Male,25,Subadults and adults
193,194,Eastern,Batticaloa,Kiran,2015-12-29,Train Accident,Male,3,Calf
194,195,Southern,Monaragala,Sewanagala,2015-12-29,Unknown,Male,30-35,Subadults and adults
195,196,Trincomalee,Trincomalee,Unknown,2015-12-31,Unknown,Unknown,Unknown,Unknown
196,197,Trincomalee,Trincomalee,Unknown,2015-12-31,Unknown,Unknown,Unknown,Unknown
197,198,Trincomalee,Trincomalee,Unknown,2015-12-31,Unknown,Unknown,Unknown,Unknown
198,199,Anuradhapura,Anuradhapura,Horowpothana,2015-12-31,Unknown,Unknown,Unknown,Unknown
199,200,Trincomalee,Trincomalee,Unknown,2015-12-31,Unknown,Unknown,Unknown,Unknown

In [176]:
output_file_path = r'D:\UOP\4th year\Research\cleaning\Dataset ele death\cleaned\2015_clean.csv'

df.to_csv(output_file_path, index=False)