In [1]:
import os
import pandas as pd

# Directory path containing the Excel files
directory = r'D:\UOP\4th year\Research\cleaning\Dataset ele death\cleaned'

# List of file names to concatenate
file_names = ['2010_clean', '2011_clean', '2012_clean', '2013_clean', '2014_clean', '2015_clean', '2016_clean', '2017_clean']

# Initialize an empty list to store DataFrames
dfs = []

# Loop through the file names and read each Excel file into a DataFrame
for file_name in file_names:
    file_path = os.path.join(directory, f'{file_name}.csv')
    df = pd.read_csv(file_path)
    dfs.append(df)

# Concatenate all DataFrames into a single DataFrame
concatenated_df = pd.concat(dfs, ignore_index=True)

# Print the concatenated DataFrame
concatenated_df['No'] = concatenated_df.index + 1
concatenated_df

,No,Region,District,D/S Office,Date of Death,Cause of Death,Sex,Age,Age Category
0,1,Southern,Monaragala,Kataragama,2010-01-01,Body destroyed,Male,50-55,Subadults and adults
1,2,Southern,Monaragala,Thanamalvila,2010-01-07,Unknown,Male,20,Subadults and adults
2,3,North Western,Anuradhapura,Unknown,2010-01-08,Electrocuted,Male,30-35,Subadults and adults
3,4,Eastern,Ampara,Thirikkovil,2010-01-12,Gunshot,Female,15-20,Subadults and adults
4,5,North Western,Kurunegala,Ipologama,2010-01-15,Accident,Male,5,Juvenile
...,...,...,...,...,...,...,...,...,...
1889,1890,Elephant Transit Home,Ratnapura,Unknown,2017-12-28,Natural,Female,Unknown,Unknown
1890,1891,Southern,Ratnapura,Weligepola,2017-12-28,Body destroyed,Male,25,Subadults and adults
1891,1892,Anuradhapura,Anuradhapura,Kabithigollawa,2017-12-28,Body destroyed,Female,20,Subadults and adults
1892,1893,Trincomalee,Trincomalee,Kanthale,2017-12-29,Electrocuted,Unknown,25-30,Subadults and adults
1893,1894,Central,Badulla,Mahiyangana,2017-12-31,Hakkapatas,Male,Unknown,Unknown

In [2]:
output_file_path = r'D:\UOP\4th year\Research\cleaning\Dataset ele death\cleaned\cancat.csv'

concatenated_df.to_csv(output_file_path, index=False)